################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Myportfolio/CopilotIndices/17.14.1681.23550
/.vs/Myportfolio/FileContentIndex
/.vs/Myportfolio/config
/.vs
